body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(.assets/bg.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    flex-direction: column;
}

audio{
    display: none;
}
h1{
    text-align: center;
    color: ;
    font-weight: bold;

}
.container{
    height: 30%;
    width: 50%;
    background-color: rgba(88,86,86,0.503);
    display: flex;
    justify-content: center;
    border-radius: 16px;
    border: solid 2px white;
    padding: 4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}
/* .active{
    scale: 90%;
    transition: 0.6s;
} */

.button{
    height: 100%;
    width: 5%;
    border-radius: 4px;
    background-color: white;
    border: solid 1px black;
}

.button:active{
    scale: 90%;
    transition: 0.6s;
}
.sharp{
    background: black;
    height: 50%;
    color: white;
}
